@use 'variables/sizes';

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';

  .dashboard {
    &__header {
      $height: sizes.$navbar-height;

      height: $height;
      grid-area: header;
      position: sticky;
      top: 0;
      z-index: 100;
    }

    &__aside {
      $aside-height: 100vh;
      $aside-width: 6rem;

      width: $aside-width;
      height: $aside-height;
      grid-area: aside;
      position: sticky;
      top: 0;
      grid-column: 1/2;
      background-color: white;
      color: #495057;
    }

    &__page {
      $main-min-height: 100vh;
      $padding: sizes.$size-16 sizes.$size-32 sizes.$size-32;

      min-height: $main-min-height;
      padding: $padding;
      grid-area: main;
      grid-column: 2/3;
      overflow: hidden;
    }

    &__page-info {
      $margin: 1rem;

      margin-bottom: $margin;
    }

    &__footer {
      grid-area: footer;
    }
  }
}
