@use 'variables/sizes';

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';

  header {
    $height: sizes.$navbar-height;

    height: $height;
    grid-area: header;
    position: sticky;
    top: 0;
  }

  aside {
    $aside-height: 100vh;
    $aside-width: 16rem;

    width: $aside-width;
    height: $aside-height;
    grid-area: aside;
    position: sticky;
    top: 0;
    grid-column: 1/2;
    background-color: white;
    color: #495057;
  }

  main {
    $main-min-height: 100vh;

    min-height: $main-min-height;
    grid-area: main;
    grid-column: 2/3;
    overflow: hidden;
  }

  footer {
    grid-area: footer;
  }
}
