:host {
  .form-control {
    display: flex;
    flex-direction: column;

    &__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.25rem;
    }

    &__label {
      margin-bottom: 0.25rem;
    }

    &__errors {
      margin-top: 0.5rem;
    }
  }
}
