<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-form-control label="Skrócona nazwa">
    <input pInputText [formControl]="form.controls.shortTitle" />
  </app-form-control>

  <app-form-control label="Terapeuci">
    <p-dropdown appDefaultDropdown [formControl]="form.controls.therapists" />
  </app-form-control>

  <div class="d-flex justify-content-end gap-3 mt-3">
    <button
      pButton
      type="button"
      class="p-button-outlined"
      label="Anuluj"
      (click)="handleCancelClick()"></button>

    <button
      pButton
      type="submit"
      label="Dodaj"
      [disabled]="form.invalid"></button>
  </div>
</form>
