@use 'variables/sizes';

:host {
  .aside {
    $height: calc(100vh - #{sizes.$navbar-height});
    $font-size: sizes.$aside-font-size;
    $padding: sizes.$size-16;

    height: $height;
    font-size: $font-size;
    padding: $padding;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
