.menu-item {
  display: flex;
  flex-direction: column;
}

:host {
  ::ng-deep {
    .link {
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      text-decoration: none;

      &.active {
        color: #3b82f6;
        font-weight: bold;
      }

      &:hover {
        background-color: #f6f9fc;
        color: #3b82f6;
      }
    }
  }
}
