@use 'variables/sizes';

:host {
  .form-control {
    display: flex;
    flex-direction: column;

    &__input {
      $margin: sizes.$size-16;

      display: flex;
      flex-direction: column;
      margin-bottom: $margin;
    }

    &__label {
      $margin: sizes.$size-4;

      margin-bottom: $margin;
    }

    &__errors {
      $margin: -#{sizes.$size-14};

      margin-top: $margin;
    }
  }
}
