<div class="form-control">
  <div class="form-control__label">
    <label [for]="inputId">{{ label }}</label>

    <ng-container *ngIf="hasRequiredValidator">
      <span class="form-control__required">*</span>
    </ng-container>
  </div>

  <div class="form-control__input">
    <ng-content></ng-content>
  </div>

  <ng-container *ngIf="hint">
    <div class="form-control__hint">
      <app-hint [hint]="hint"></app-hint>
    </div>
  </ng-container>

  <ng-container *ngIf="errors">
    <div class="form-control__errors">
      <app-form-control-errors [errors]="errors"></app-form-control-errors>
    </div>
  </ng-container>
</div>
