@use 'variables/sizes';
@use 'variables/colors';

:host {
  .form-control {
    $margin: sizes.$size-12;

    display: flex;
    flex-direction: column;
    margin-bottom: $margin;

    &__input {
      $margin: sizes.$size-4;

      margin-bottom: $margin;
      display: flex;
      flex-direction: column;
    }

    &__label {
      $margin: sizes.$size-4;
      $font-size: sizes.$size-14;

      margin-bottom: $margin;
      font-size: $font-size;
    }

    &__required {
      $margin: sizes.$size-2;
      $text-color: colors.$danger;

      color: $text-color;
      padding-left: $margin;
    }

    &__hint {
      $font-size: sizes.$size-12;

      font-size: $font-size;
    }

    &__errors {
      $font-size: sizes.$size-12;

      font-size: $font-size;
    }
  }
}
