<form [formGroup]="form" (ngSubmit)="handleSubmitClick()">
  <app-form-control label="Adres e-mail">
    <input pInputText type="email" [formControl]="form.controls.email" />
  </app-form-control>

  <app-form-control label="Hasło">
    <input pInputText type="password" [formControl]="form.controls.password" />
  </app-form-control>

  <button
    pButton
    appButtonSmall
    type="button"
    class="p-button-outlined"
    label="Anuluj"
    (click)="handleCancelClick()"></button>

  <button appButtonSmall pButton type="submit" label="Zapisz"></button>
</form>
