@mixin style {
  background-color: transparent;
  border: 0;
  font-size: inherit;
  padding: 0;
  color: inherit;
  text-decoration: underline;
  display: inline-flex;

  &:focus-visible {
  }

  &:hover {
    color: blue;
  }
}
