@use 'variables/sizes';
@use 'variables/colors';
@use 'utils/glassmorphism';

:host {
  $height: sizes.$navbar-height;
  $font-size: sizes.$navbar-font-size;
  $padding: 0 sizes.$size-32;
  $border: 1px solid colors.$dark-200;

  @include glassmorphism.glass($blur: sizes.$size-8);

  height: $height;
  font-size: $font-size;
  padding: $padding;
  border-bottom: $border;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
