<form [formGroup]="form" (ngSubmit)="handleSubmitClick()">
  <app-form-control label="Imię">
    <input
      pInputText
      placeholder="Wprowadź wartość"
      [formControl]="form.controls.firstName" />
  </app-form-control>

  <app-form-control label="Nazwisko">
    <input
      pInputText
      placeholder="Wprowadź wartość"
      [formControl]="form.controls.lastName" />
  </app-form-control>

  <app-form-control label="Adres e-mail">
    <input
      pInputText
      type="email"
      placeholder="Wprowadź wartość"
      [formControl]="form.controls.email" />
  </app-form-control>

  <app-form-control label="Numer telefonu">
    <input
      pInputText
      type="tel"
      placeholder="Wprowadź wartość"
      [formControl]="form.controls.phone" />
  </app-form-control>

  <ng-container *ngIf="therapistTypes$ | async as types">
    <app-form-control label="Rodzaj pracownika">
      <p-dropdown
        appDefaultDropdown
        placeholder="Wybierz wartość"
        [options]="types"
        [formControl]="form.controls.type">
      </p-dropdown>
    </app-form-control>
  </ng-container>

  <div appFormActionsContainer>
    <button
      pButton
      appButtonSmall
      class="p-button-outlined"
      type="button"
      label="Anuluj"
      (click)="handleCancelClick()"></button>

    <button
      pButton
      appButtonSmall
      type="submit"
      label="Zapisz"
      [disabled]="form.invalid"></button>
  </div>
</form>
