@use 'variables/colors';
@use 'variables/sizes';

:host {
  $border-radius: sizes.$size-6;
  $border: 1px solid colors.$dark-300;
  $color: colors.$dark-500;
  $padding: 1rem;

  padding: $padding;
  border-radius: $border-radius;
  border: $border;
  color: $color;
  display: inline-flex;
  line-height: 1;
}

:host-context(.link.active) {
  $background: colors.$blue;
  $border-color: colors.$blue;
  $box-shadow: 0 0.5rem 1rem 0 rgba(colors.$blue, 0.2);
  $color: white;

  background-color: $background;
  border-color: $border-color;
  box-shadow: $box-shadow;
  color: $color;
}

:host-context(.link:hover:not(.active)) {
  $color: colors.$blue;
  $border-color: rgba(colors.$blue, 0.1);
  $background: rgba(colors.$blue, 0.1);

  background-color: $background;
  border-color: $border-color;
  color: $color;
}
